.movie_details_container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    
}

.movie_details_container>img {
    max-width: 100%;
    height: auto;
    filter: blur(3px);
}

.lighten {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}


.details_header {
   
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100%;
    
}

.poster {
    position: relative;
    height: 100%;
    padding: 15px;
    cursor: pointer;
}

.poster:hover>.loupe {
    opacity: 1;
}

.poster:hover>img {
    filter: grayscale(50%);
    border: 1px rgb(156, 156, 156) solid;
}

.loupe {
    transition: 0.4s all ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    /* background-color: rgba(0, 0, 0, .5); */
}

.poster>img {
    height: 330px;
    width: 220px;
    pointer-events: none;
}

.text {
    width: 100%;
    height: 100%;
    padding: 15px;
    color: #000;
    border-left: 1px rgb(207, 207, 207) solid;
}

.company_logo {
    width: 40px;
}

.details_header_rate {
    padding: 10px 0;
}

.credits{

    width: 100%;
}


.credits_tittle {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
}



.credits_list {
    /* width: 140px; */
    display: inline-block;
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* height: 100%; */
    /* border: 1px rgba(0,0,0,.125) solid; */
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0,0,0,.125);
}


.credits_list img {
    width: auto;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.credits_list div {
    font-size: 0.8rem;
    text-align: center;
    padding: 2px;
}

.credits_list i {
    color: rgb(156, 156, 156);
}

.cast, .crew {
    width: 100%;
    padding: 15px;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 30px;
    /* vertical-align: middle; */
}



.modal-content {
    min-height: 90vh;
}

.modal-90w {

    min-width: 700px;
    max-width: 90%;
    /* max-height: 90vh; */
    min-height: 90%;
    /* width: 90vw;
    height: 90vh; */
}

.modal-body {
    position: relative;
}

.people_photos_container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    display: block;
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.people_photos {
    width: 330px;
    height: 100%;
    margin: 0 20px 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.people_photos img {
    width: 330px;
    height: 100%;
}


.arrow {
    /* width: 80px;
    height: 80px; */
    font-size: 3em;
    padding: 10px;
    /* background-color: rgb(140, 232, 255); */
    /* border-radius: 50%; */
    cursor: pointer;
    user-select: none;
    transition: 0.5s all ease;
    opacity: 0.3;
}

.arrow:hover {
    opacity: 1;
}