.movie_details_container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    
}

.movie_details_container>img {
    max-width: 100%;
    height: auto;
    filter: blur(3px);
}

.lighten {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}


.details_header {
   
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    min-height: 100%;
    border: 1px rgb(207, 207, 207) solid;
}


.text {
    padding: 50px;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    color: #000;
}

.poster {
    height: 100%;
    padding-right: 50px;
}

.poster>img {
    height: 330px;
    width: 220px;
}