.realeases_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
}

.realeases_poster {
    width: 102px;
    text-align: center;
}

.realeases_poster img {
    width: 100px;
    margin-bottom: 5px;
}

.realeases_text {
    padding: 20px;
}

