.movie_details_container {
    position: relative;
    width: 100%;
}

.movie_details_container>img {
    max-width: 100%;
    height: auto;
    filter: blur(3px);
}

.lighten {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}


.details_header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
}


.text {
    padding: 50px;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    color: #fff;
}

.poster {
    height: 100%;
    padding-right: 50px;
}

.poster>img {
    height: 100%;
    width: auto;
}