
/* ---------------------------- left_side ------------------------------ */




/* .tittle {
    text-align: center;
} */


.sides_wrapper {
    width: 100%;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
}

/* .left_side, .right_side {
    padding: 10px;
} */

.left_side {
    width: 30%;
    min-width: 280px;
    max-width: 280px;
    margin-right: 15px;
}


.left_side div {
    padding: 20px;
    margin-bottom: 15px;
   
}

.left_side span {
    display: inline-block;
    padding: 2px 10px;
    margin: 5px;
    border-radius: 7px;
    /* white-space: pre-line; */
}
.left_side span.active {
    background-color: rgb(103, 130, 252);
}

.left_side span:hover {
    background-color: rgb(147, 167, 253);
    cursor: pointer;
}

.request_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: rgb(1, 114, 1);
    color: #fff;
    z-index: 100;
    cursor: pointer;
}




.right_side {
    width: 70%;
}



/* ---------------------------- left_side ------------------------------ */

.popular_movies {

    width: 100%;
 }



.popular_movies h4 {
   text-align: center;
   margin-bottom: 30px;
   text-transform: uppercase;
}



.card_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 20px;
}


.card_wrapp {
    position: relative;
}

.card_wrapp .rate_btn {
    position: absolute;
    top: 25px;
    right: 35px;
    z-index: 50;
}

.card_wrapp .rate_btn button {
   height: 40px;
   width: 40px;
   background-color: rgb(27, 212, 42);
   border-radius: 50%;
}


.rate_drop_down {
    display: none;
}

.rate_drop_down.visible {
    display: block;
    position: absolute;
    width: 200px;
    height: 100px;
    top: 80px;
    left: 0;
    z-index: 51;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}



.card {
    padding: 10px;
    margin: 3px;
    min-width: 170px;
    min-height: 245px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.content {
    
    overflow: hidden;
    position: relative;
    
}

.content img {
    /* margin: 10px; */
    width: 150px;
    height: 225px;
    transition: 0.5s all ease;
}


.content:hover>.description {
    opacity: 1;
    bottom: 0;
}

.content:hover>img {
    filter: blur(1px);
    /* filter: grayscale(80%); */
}

.description {
    padding: 15px 5px 15px 5px;
    position: absolute;
    width: 100%;
    bottom: -100px;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.7);
    color: #fff; */
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    transition: 0.7s all ease;
    opacity: 0;
    pointer-events: none;
    text-align: center;
}


.description span {
    /* line-height: 0.8em; */
    display: block;
    width: 100%;
    /* word-wrap: break-word; */
    white-space: pre-line;
    font-size: 0.7em;
}

