.rate_stars_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;

}

.rate_star_wrap {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    width: 100%;
}



.rate_star {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 20px;
    width: 20px;
    padding: 2px;
    /* float: left; */
    background-color: grey;
    clip-path: polygon(
        50% 0%,
        63% 38%,
        100% 38%,
        69% 59%,
        82% 100%,
        50% 75%,
        18% 100%,
        31% 59%,
        0% 38%,
        37% 38%
    );
}


.rate_star.active {
    background-color: yellow;
}

.rate_star.red {
    background-color: red;
}

.remove_rate {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin: 0 10px;
}